[submodule "build/external/nlohmann"]
	path = build/external/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/CppLogiMake"]
	path = external/CppLogiMake
	url = https://github.com/cschladetsch/CppLogiMake.git
